# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Application data & cache
traffic.db
usb-cache.json
speedtest.tmp

# macOS
.DS_Store

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment Variables
.env

# Docker artifacts
docker-compose.override.yml
